@{
    ViewBag.Title = "Home Page";
}

<main>
    <h1 class="text-center">Benvenuto</h1>

    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://media.cntraveler.com/photos/65aeb1f90407a0da68224e26/16:9/w_1920,c_limit/Jumeirah%20Dar%20Al%20Masyaf_Dar%20Al%20Masyaf%20-%20Arabian%20Summerhouse%20-%20Waterways%201.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://media.cntraveler.com/photos/65aeb1f6ad94ed55694e1135/16:9/w_1920,c_limit/Jumeirah%20Dar%20Al%20Masyaf%20-%20Arabian%20Summerhouse%20Superior%20Suite%20-%20Bedroom%201.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://media.cntraveler.com/photos/65aeb1fa7f5c8b933a34f1e9/16:9/w_1920,c_limit/Jumeirah%20Dar%20Al%20Masyaf%20-%20Celeste%20Adult-only%20Pool.jpg" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</main>